@page "/Account/Lockout"

<PageTitle>Cerrar sesión</PageTitle>

<header>
    <h1 class="text-danger">Cerraste sesión</h1>
    <p class="text-danger" role="alert">Esta cuenta ha sido cerrada, intenta más tarde.</p>
</header>
