.home-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at top, rgba(192,0,143,.18), transparent 35%), linear-gradient( 135deg, #0F172A, #111827, #1E1B4B);
    overflow: hidden;
}

.logo-home {
    width: 300px;
    filter: drop-shadow(0 0 20px rgba(217,70,239,.35)) drop-shadow(0 10px 25px rgba(0,0,0,.35));
    animation: flotar 4s ease-in-out infinite;
}

@keyframes flotar {

    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0px);
    }
}
